<header>
	<p>EatPicky</p>
</header>
<div class = "big-container">
<div class="left-bar">
	<%= form_for :query, :url => { :action => "show_result" } do |q| %>
  	<%= q.text_field :wants, :class => "text-field", placeholder: "Bahan diinginkan" %>
  	<%= q.text_field :not_wants, :class => "text-field", placeholder: "Bahan tidak diinginkan" %>
  	<%= submit_tag 'Search!', :class => "submit-btn" %>
  	<% end %>
</div>
<div class="main-container">
	<div class = "warning">
		<% unless @can_process_recommendation.empty? %>
				Apakah yang kamu maksud adalah
				<%= @can_process_recommendation.each do |query|
				  puts query.upcase + ", "
				end %>
				?
			<% end %>
		<% unless @can_not_process.empty? %>
				Kami tidak menemukan bahan
				<%= @can_not_process.each do |query|
				  puts query.upcase + ", "
				end %>
			<% end %>
	</div>

	<% j = 1 %>
	<% @result.each do |res| %>
	<div class="rest">
	<%=image_tag("#{j}.jpg")%>
	<% j += 1 %>
	<div class="rest-name"> Restoran <%=res[:restaurant].name%></div>
		<% i = 0 %>
		<div class="rest-menu">
		<% while i < res[:recipes].length do %>
	   		<div class="menu"> Menu <%= res[:recipes][i].title%></div>
	   		<% i +=1 %>
		<% end %>
		</div>
	</div>
	<% end %>
</div>
</div>